<template>
    <div>
        <test-form :id="id" :dirty.sync="testFormDirty" />

        <test-questions :test-id="id" :dirty.sync="testQuestionsDirty" />
    </div>
</template>


<script>
    import TestForm from './TestForm';
    import TestQuestions from './TestQuestions';

    export default {
        components: {
            TestForm,
            TestQuestions
        },

        props: [ 'id' ],

        data: () => ({
            testFormDirty: false,
            testQuestionsDirty: false,
        }),

        computed: {
            dirty() {
                return this.testFormDirty || this.testQuestionsDirty;
            },
        },

        watch: {
            dirty(value) {
                this.$emit('update:dirty', value);
            }
        },
    }
</script>
