<style lang="stylus" scoped>
    .form
        &--dirty
            background-color #f0f0f0 !important
</style>


<template>
    <v-card v-if="remoteItemLoaded" class="form" :class="{ 'form--dirty': isItemChanged }">
        <form @submit.prevent="saveItem">
            <v-card-title>
                <span class="headline">Тест #{{ id }}</span>
            </v-card-title>

            <v-card-text>
                <v-container fluid>
                    <v-row>
                        <v-col cols="12" md="4" sm="6" xs="12">
                            <v-text-field v-model="item.name" label="Название" />
                        </v-col>

                        <v-col cols="12" md="4" sm="6" xs="12">
                            <w-combobox v-model="item.disciplineId"
                                        entityType="disciplines"
                                        label="Дисциплина" />
                        </v-col>

                        <v-col v-if="checkPermission(ACTIONS.ANY_OWNER_ACCESS)" cols="12" md="4" sm="6" xs="12">
                            <w-combobox v-model="item.ownerId"
                                        entityType="users"
                                        label="Пользователь"
                                        disabled />
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col v-for="rate in ratesMap" :key="rate.id" cols="12" md="4" sm="6" xs="12">
                            <v-text-field
                                    v-model="item.datas.rates[rate.id]"
                                    :label="`Нижняя граница % на оценку ${rate.name}`"
                                    class="mt-0 pt-0"
                                    hide-details
                                    type="number"
                                    :ma22x="rate.max || item.datas.rates[rate.id + 1]"
                            ></v-text-field>
                        </v-col>

                        <v-col cols="12" md="4" sm="6" xs="12">
                            <v-text-field
                                    v-model="item.datas.recomendedDuration"
                                    label="Рекомендуемое время (мин.)"
                                    class="mt-0 pt-0"
                                    hide-details
                                    type="number"
                                    min="1"
                                    max="120"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>

            <v-card-actions v-if="isItemChanged">
                <v-spacer></v-spacer>
                <v-btn text @click="cancelItemChange" :disabled="!isItemChanged">Отменить</v-btn>
                <v-btn text type="submit" :loading="savingItem" :disabled="savingItem || !isItemChanged">Сохранить</v-btn>
            </v-card-actions>
        </form>
    </v-card>
</template>


<script>
    import testsAdminApi from '../../../api/admin/tests';
    import { jsonEquals, jsonCopy } from '../../../utils/base';

    export default {
        props: [ 'id' ],

        data: () => ({
            remoteItem: {},
            item: {},
            remoteItemLoaded: false,
            savingItem: false,

            ratesMap: [
                { id: 5, name: 'Отлично', max: 100 },
                { id: 4, name: 'Хорошо' },
                { id: 3, name: 'Удовлетворительно' },
            ],
        }),

        computed: {
            isItemChanged() {
                return !jsonEquals(this.item, this.remoteItem);
            },
        },

        watch: {
            isItemChanged(value) {
                this.$emit('update:dirty', value);
            }
        },

        methods: {
            cancelItemChange() {
                this.item = Object.assign({}, jsonCopy(this.remoteItem));
            },

            async saveItem() {
                const { id, item } = this;

                await testsAdminApi.editItem(id, item);

                await this.getData();
            },

            async getData() {
                await testsAdminApi.getItem(this.id)
                    .then(resp => {
                        this.remoteItem = resp.data;
                        const datas = Object.assign({}, this.remoteItem.datas);

                        this.item = jsonCopy( Object.assign({}, this.remoteItem, { datas }) );
                        this.remoteItemLoaded = true;
                    });
            },
        },

        mounted() {
            this.getData();
        },


    }
</script>
