<style lang="stylus" scoped>
    .question-card
        &--dirty
            background-color #f0f0f0 !important

    .answers__control
        width 100%
        display flex
        justify-content center

</style>


<template>
    <v-card v-if="item" class="question-card" :class="{ 'question-card--dirty': isItemChanged }">
        <v-card-title>
            <span class="headline">{{ remoteItem.order }}.</span>

            <div style="{ width: 20px; }">
                <v-select class="ml-4"
                          v-model="item.type"
                          label="Тип задания"
                          :items="types" />
            </div>

            <v-spacer></v-spacer>

            <v-btn v-if="remoteItem.order > 1" icon @click="$emit('move-up')">
                <v-icon>keyboard_arrow_left</v-icon>
            </v-btn>

            <v-btn v-if="remoteItem.order < lastItem.order" icon @click="$emit('move-down')">
                <v-icon>keyboard_arrow_right</v-icon>
            </v-btn>

            <v-btn icon @click="$emit('drop')">
                <v-icon>delete_forever</v-icon>
            </v-btn>
        </v-card-title>

        <v-card-text>
            <v-row>
                <v-col cols="12" md="6" sm="12" xs="12">
                    <v-textarea v-model="item.text"
                                outlined
                                auto-grow
                                label="Задание"
                                rows="6" />
                </v-col>

                <v-col cols="12" md="6" sm="12" xs="12">
                    <template v-if="item.type === 'options'">
                        <v-radio-group v-model="item.rightAnswer" style="margin-top: 0px; width: 100%;">
                                <v-radio v-for="(answer, index) in item.answers" :key="index" :value="index.toString()">
                                    <template v-slot:label>
                                        <v-text-field v-model="item.answers[index]" @click.stop />

                                        <v-btn icon @click.stop="dropAnswer(index)">
                                            <v-icon>clear</v-icon>
                                        </v-btn>
                                    </template>
                                </v-radio>
                        </v-radio-group>

                        <div class="answers__control">
                            <v-btn
                                    @click="addAnswer"
                            >
                                <v-icon left>add</v-icon>
                                Добавить вариант ответа
                            </v-btn>
                        </div>
                    </template>

                    <template v-else>
                        <v-text-field v-model="item.rightAnswer" label="Ответ" />
                    </template>
                </v-col>
            </v-row>
        </v-card-text>

        <v-card-actions v-if="isItemChanged">
            <v-spacer></v-spacer>
            <v-btn text @click="cancelItemChange">Отменить</v-btn>
            <v-btn text type="submit" @click="$emit('save', item)">Сохранить</v-btn>
        </v-card-actions>
    </v-card>
</template>


<script>
    import { jsonEquals, jsonCopy, getObjectAllowedFields } from '../../../utils/base';

    export default {
        props: [ 'remoteItem', 'lastItem' ],

        data: () => ({
            item: null,
            itemInitedFrom: null,

            types: [
                { value: 'options', text: 'Варианты ответа' },
                { value: 'input', text: 'Пользовательский ввод' },
            ],
        }),

        computed: {
            remoteItemSanitized() {
                return getObjectAllowedFields(this.remoteItem, [ 'id', 'type', 'text', 'answers', 'rightAnswer' ]);
            },

            isItemChanged() {
                return !jsonEquals(this.item, this.remoteItemSanitized);
            },
        },

        watch: {
            remoteItemSanitized: {
                handler: function(value) {
                    if (this.itemInitedFrom && !jsonEquals(this.item, this.itemInitedFrom)) return;

                    this.item = jsonCopy(value);
                    this.itemInitedFrom = jsonCopy(value);
                },
                immediate: true,
                deep: true,
            },

            isItemChanged(value) {
                this.$emit('update:dirty', value);
            }
        },

        methods: {
            addAnswer() {
                this.item.answers.push('');
            },

            dropAnswer(index) {
                this.item.answers.splice(index, 1);

                if (this.item.rightAnswer === index) {
                    this.item.rightAnswer = null;
                } else if (this.item.rightAnswer > index) {
                    this.item.rightAnswer = (this.item.rightAnswer - 1).toString();         /// GC:: DON't FORGET GET KICK ON HEAD
                }
            },

            cancelItemChange() {
                this.item = Object.assign({}, jsonCopy(this.remoteItemSanitized) );
            },
        }
    };
</script>