<style lang="stylus" scoped>
    .test-questions
        margin-top 10px;
        margin-bottom 30px;

        &__control
            margin-top 20px;
            display flex
            justify-content center

</style>

<template>
    <div class="test-questions">
        <test-question-form class="mt-4"
                            ref="questions"
                            v-for="(item, index) in items"
                            :key="item.id"
                            :remote-item="item"
                            :last-item="lastItem"
                            :dirty.sync="itemsDirty[index]"
                            @save="saveQuestion"
                            @move-up="moveQuestionUp(item)"
                            @move-down="moveQuestionDown(item)"
                            @drop="openDropDialog(item)" />

        <div class="test-questions__control">
            <v-btn
                    @click="addTestQuestion"
            >
                <v-icon left>add</v-icon>
                Добавить задание
            </v-btn>
        </div>

        <v-dialog v-model="dropDialog" max-width="500px">
            <v-card v-if="dropDialogItem">
                <form @submit.prevent="dropQuestion">
                    <v-card-title v-if="dropDialog">
                        <span class="headline">Удаление задания {{ dropDialogItem.order }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-row>
                            <v-col cols="12" md="12" sm="12" xs="12">
                                <v-textarea v-model="dropDialogItem.text"
                                            outlined
                                            auto-grow
                                            label="Задание"
                                            rows="6"
                                            disabled />
                            </v-col>
                        </v-row>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn text @click="dropDialog = false">Отменить</v-btn>
                        <v-btn text type="submit">Удалить</v-btn>
                    </v-card-actions>
                </form>
            </v-card>
        </v-dialog>
    </div>
</template>


<script>
    import TestQuestionForm from './TestQuestionForm';
    import testsAdminApi from '../../../api/admin/tests';

    export default {
        components: {
            TestQuestionForm
        },

        props: [ 'testId' ],

        data: () => ({
            items: [],
            itemsDirty: [],

            dropDialog: false,
            dropDialogItem: null,
        }),

        computed: {
            lastItem() {
                const { items } = this;

                return items[ items.length - 1 ];
            },
        },

        watch: {
            itemsDirty: {
                handler: function () {
                    this.$emit('update:dirty', this.itemsDirty.some(id => id));
                },
                deep: true,
            },
        },

        methods: {
            async addTestQuestion() {
                const response = await testsAdminApi.createTestQuestion(this.testId);
                const { data: question } = response;

                this.items.push(question);
            },

            async getData() {
                const { data } = await testsAdminApi.getTestQuestions(this.testId);

                this.items = data;
            },

            async saveQuestion(item) {
                await testsAdminApi.saveTestQuestion(item.id, item);

                await this.getData();
            },

            async moveQuestionUp(item) {
                await testsAdminApi.moveTestQuestionUp(item.id);

                await this.getData();
            },

            async moveQuestionDown(item) {
                await testsAdminApi.moveTestQuestionDown(item.id);

                await this.getData();
            },

            openDropDialog(item) {
                this.dropDialogItem = item;
                this.dropDialog = true;
            },

            async dropQuestion() {
                const { dropDialogItem: item } = this;

                await testsAdminApi.dropTestQuestion(item.id);

                this.dropDialog = false;

                await this.getData();
            },
        },

        mounted() {
            this.getData();
        }
    };
</script>