<style lang="stylus" scoped>
    .card
        max-width: 800px;

        &__title
            word-break: break-word;

    .item
        cursor pointer;
</style>


<template>
    <v-card class="card">
        <v-card-title v-if="actualTestSessions.length === 0" class="card__title">
            Актуальные тест сессии отсутствуют
        </v-card-title>
        <v-card-title v-else class="card__title">
            Доступные тест сессии:
        </v-card-title>

        <v-list-item v-for="item in actualTestSessions" class="item" @click="selectTestSession(item.id)">
            <v-list-item-icon>
                <v-icon>adjust</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
                <v-list-item-title>{{ item.name }}</v-list-item-title>
            </v-list-item-content>
        </v-list-item>

    </v-card>
</template>


<script>
    import testAppApi from '../../api/testApp';

    export default {
        data: () => ({
            actualTestSessions: [],
        }),

        methods: {
            selectTestSession(id) {
                this.$store.dispatch('setActiveTestSession', id);
            },

            async getData() {
                const resp = await testAppApi.getActualTestSessions();

                this.actualTestSessions = resp.data;
            },
        },

        mounted() {
            this.getData();
        },
    };
</script>