<style lang="stylus" scoped>
    .page
        width 100%;
</style>


<template>
    <div v-if="activeTestSessionStatusLoaded" class="page">
        <template v-if="activeTestSessionStatus">
            <test-session-preparing v-if="testSession.status === 'preparing'" />

            <test-session v-else-if="testSession.status === 'active'" />
        </template>

        <actual-test-sessions v-else ref="actualTestSessions" />
    </div>
</template>


<script>
    import { mapGetters } from 'vuex';
    import ActualTestSessions from './ActualTestSessions'
    import TestSessionPreparing from './TestSessionPreparing'
    import TestSession from './TestSession'
    import connectToSocket from '../../services/socket.io';


    export default {
        components: {
            ActualTestSessions,
            TestSessionPreparing,
            TestSession,
        },

        data: () => ({
            socketService: null
        }),

        computed: mapGetters([
            'activeTestSessionStatus',
            'activeTestSessionStatusLoaded',
            'testSession'
        ]),

        methods: {
            isTestActive() {
                return this.activeTestSessionStatus && this.testSession && this.testSession.status === 'active';
            }
        },

        mounted() {
            this.$store.dispatch('getActiveTestSessionStatus');

            this.socketService = connectToSocket();

            this.socketService.on('force_testApp_actualTestSessions_update', () => {
                this.$refs.actualTestSessions && this.$refs.actualTestSessions.getData();
            });

            this.socketService.on('force_testApp_update', () => {
                this.$store.dispatch('getActiveTestSessionStatus');
            });



            window.onblur = () => {
                console.log('____onBlur', new Date);
                if (!this.isTestActive()) return;

                this.socketService.emit('testAppBlur');
            };

            window.onfocus = () => {
                console.log('____onFocus', new Date);
                if (!this.isTestActive()) return;

                this.socketService.emit('testAppFocus');
            };
        },

        beforeDestroy() {
            this.socketService && this.socketService.disconnect();

            window.onblur = null;
            window.onfocus = null;
        },
    };
</script>
