<style lang="stylus" scoped>
    .hint
        color darkgray
</style>


<template>
    <div>
        <h2>{{ testSession.name }}</h2>

        <div class="hint">Ожидайте запуска тестирования...</div>

        <v-btn class="mt-12" @click="leaveTestSession">Покинуть тестирование</v-btn>
    </div>
</template>


<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters([ 'testSession', ]),
        },

        methods: {
            leaveTestSession() {
                this.$store.dispatch('dropActiveTestSession');
            },
        },
    };
</script>