<style lang="stylus" scoped>
    .question
        max-width 500px

        &__time
            display flex
            justify-content flex-end

        &__header
            margin-top 20px
            display flex
            justify-content center
            &-title
                font-weight bold

        &__text
            white-space pre-wrap
            word-break break-word


        &__footer
            display flex
            justify-content center
</style>


<template>
    <div v-if="question" v-show="remainingSeconds >= 0" class="question">
        <div class="question__time">
            <remaining-timer :before="testSession.activeBefore"
                             :remainingSeconds.sync="remainingSeconds" />
        </div>

        <div class="question__header">
            <span class="question__header-title">Вопрос {{ question.order }}/{{ questions.length }}</span>
        </div>

        <form @submit.prevent="postAnswer">
            <v-card>
                <v-card-title>
                    <span class="question__text">{{ question.text }}</span>
                </v-card-title>

                <v-card-text>
                    <div v-if="questionType === 'options'">
                        <v-radio-group v-model="value" style="margin-top: 0px; width: 100%;">
                            <v-radio v-for="answer in answers" :key="answer.index"
                                     :value="answer.index.toString()"
                                     :label="answer.text"
                                     :disabled="sendingAnswer"
                                     required />
                        </v-radio-group>
                    </div>

                    <div v-else-if="questionType === 'input'" >
                        <v-text-field v-model="value" />
                    </div>
                </v-card-text>
            </v-card>

            <div class="mt-4 question__footer">
                <v-btn type="submit"
                       :disabled="!value || sendingAnswer"
                       :loading="sendingAnswer">
                    Ответить
                </v-btn>
            </div>
        </form>
    </div>
</template>


<script>
    import { mapGetters } from 'vuex';
    import { shuffleArray } from '../../utils/base';
    import RemainingTimer from '../elements/timers/RemainingTimer';

    export default {
        components: {
            RemainingTimer
        },

        data: () => ({
            question: null,
            answers: [],
            value: null,
            sendingAnswer: false,
            remainingSeconds: -1
        }),

        computed: {
            ...mapGetters([ 'activeTestSessionStatus', 'activeQuestion', 'questions', 'testSession' ]),

            questionType() {
                return this.activeQuestion && this.activeQuestion.type;
            },
        },

        watch: {
            activeQuestion: {
                immediate: true,
                handler: function (activeQuestion) {
                    this.question = activeQuestion;

                    const answers = activeQuestion.answers.map(
                        (item, index) => Object.assign({ text: item }, { index })
                    );
                    shuffleArray(answers);
                    this.answers = answers;

                    this.value = null;
                }
            }
        },

        methods: {
            postAnswer() {
                if (!this.value) return;

                const data = {
                    questionId: this.question.id,
                    answer: this.value,
                };

                this.sendingAnswer = true;
                try {
                    this.$store.dispatch('postAnswer', data);
                } finally {
                    this.sendingAnswer = false;
                }
            },
        },
    };
</script>
