<template>
    <span>{{ formatSeconds(passedSeconds + boost) }}</span>
</template>


<script>
    import { getPassedSeconds } from '../../../utils/datetime';

    export default {
        name: 'passed-timer',

        props: {
            after: String,
            boost: {
                type: Number,
                default: 0
            }
        },

        data: () => ({
            passedSeconds: 0
        }),

        watch: {
            after: {
                handler: function() {
                    this.updatePassedSeconds();
                },
                immediate: true
            }
        },

        methods: {
            updatePassedSeconds() {
                if (!this.after) {
                    this.passedSeconds = 0;
                    return;
                }

                this.passedSeconds = getPassedSeconds(this.after);

                setTimeout(this.updatePassedSeconds.bind(this), 1000);
            },
        },
    }
</script>
