<template>
    <span>{{ formatSeconds(remainingSeconds) }}</span>
</template>


<script>
    import { getRemainingSeconds } from '../../../utils/datetime';

    export default {
        name: 'remaining-timer',

        props: {
            before: String
        },

        data: () => ({
            remainingSeconds: -1
        }),

        methods: {
            updateRemaining() {
                this.remainingSeconds = getRemainingSeconds(this.before);
                this.$emit('update:remainingSeconds', this.remainingSeconds);

                setTimeout(this.updateRemaining.bind(this), 1000);
            },
        },

        mounted() {
            this.updateRemaining();
        }
    }
</script>
