<template>
    <div>
        <v-card>
            <v-simple-table>
                <template>
                    <tbody>
                        <tr>
                            <td>id</td>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <td>Логин</td>
                            <td>{{ user.login }}</td>
                        </tr>
                        <tr>
                            <td>Роль</td>
                            <td>{{ user.role }}</td>
                        </tr>

                        <tr v-if="school">
                            <td>Школа</td>
                            <td>{{ schoolText }}</td>
                        </tr>
                    </tbody>
                </template>
            </v-simple-table>
        </v-card>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import shortEntityTextMappers from '../helpers/shortEntityTextMappers';

    export default {
        name: 'Dashboard',

        computed: {
            ...mapGetters([ 'user', 'school' ]),

            schoolText() {
                return this.school && shortEntityTextMappers.schools(this.school);
            }
        },

        methods: {
            logout() {
                this.$store.dispatch('logout')
                    .then(() => {
                        this.$router.push('/login');
                    });
            }
        }
    }
</script>

