<template>
    <w-combobox v-if="checkPermission(ACTIONS.ANY_SCHOOL_ACCESS)"
                :value="value"
                @input="$emit('input', $event)"
                entity-type="schools"
                label="Школа"
                filter
                :disabled="disabled"/>

    <v-select v-else
              :value="value"
              @input="$emit('input', $event)"
              :items="items"
              label="Школа"
              hide-details
              :disabled="disabled" />
</template>


<script>
    import { mapGetters } from 'vuex';
    import shortEntityTextMappers from '../../../helpers/shortEntityTextMappers';


    export default {
        props: {
            value: {},
            disabled: {
                type: Boolean,
                default: false
            }
        },

        computed: {
            ...mapGetters([ 'school' ]),

            items() {
                const { school } = this;

                return [
                    school && {
                        value: school.id,
                        text: shortEntityTextMappers.schools(school)
                    },
                ].filter(v => v);
            },
        },

        watch: {
            school: {
                handler: function() {
                    const { school } = this;

                    school && this.$emit('input', school.id);
                },
                immediate: true
            },
        },
    };
</script>
