<template>
    <base-crud-table v-bind="options" :filters="filters" :default-create-item="defaultCreateItem">
        <template v-slot:mainHeader>
            <user-school-input v-model="filters.schoolId" />
        </template>


        <template v-slot:entityDialogData="{ item, disabled }">
            <v-container>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <user-school-input v-model="item.schoolId" />
                    </v-col>

                    <v-col cols="12" sm="6" md="6">
                        <v-text-field v-model="item.level" label="Номер" :disabled="disabled" />
                    </v-col>

                    <v-col cols="12" sm="6" md="6">
                        <v-text-field v-model="item.letter" label="Буква" :disabled="disabled" />
                    </v-col>

                    <v-col cols="12" sm="12" md="12">
                        <v-text-field v-model="item.name" label="Название" :disabled="disabled" />
                    </v-col>
                </v-row>
            </v-container>
        </template>

    </base-crud-table>
</template>

<script>
    import BaseCrudTable from './BaseCrudTable';
    import ACTIONS from '../../constants/actions';
    import classesAdminApi from '../../api/admin/classes';
    import shortEntityTextMappers from '../../helpers/shortEntityTextMappers';

    const headers = [
        {
            text: '# id',
            value: 'id',
        },
        {
            text: 'Школа',
            value: 'school',
        },
        {
            text: 'Номер',
            value: 'level',
        },
        {
            text: 'Буква',
            value: 'letter',
        },
        {
            text: 'Название',
            value: 'name',
        },
        {
            text: 'Действия',
            value: 'action',
            sortable: false
        },
    ];

    export default {
        components: {
            BaseCrudTable,
        },

        data: () => ({
            filters: {},

            options: {
                tableTitle: 'Классы',
                headers,
                ///haveSearch: false,
                defaultItem: {
                    school_id: null,
                    level: null,
                    letter: null,
                    name: null,
                },

                createPermission: ACTIONS.CLASSES_CREATE,
                editPermission: ACTIONS.CLASSES_UPDATE,
                dropPermission: ACTIONS.CLASSES_DELETE,

                _getData: (params) => classesAdminApi.getList(params),
                _mapDataItem: (item) => Object.assign(item, {
                    school: shortEntityTextMappers.schools(item._school),
                }),
                _getItem: (id) => classesAdminApi.getItem(id),

                _createItem: (data) => classesAdminApi.createItem(data),
                _editItem: (id, data) => classesAdminApi.editItem(id, data),
                _dropItem: (id) => classesAdminApi.dropItem(id),

                entityDialogTitle: (id) => id ? `Редактирование Класса #${id}` : 'Добавление Класса',
                dropEntityDialogTitle: (id) => `Удаление Класса #${id}`,
            }
        }),

        computed: {
            defaultCreateItem() {
                const { filters } = this;

                return {
                    schoolId: filters.schoolId,
                }
            }
        },
    }
</script>
