<template>
    <base-crud-table v-bind="options">

        <template v-slot:entityDialogData="{ item, disabled }">
            <v-container>
                <v-row>
                    <v-col cols="12" sm="8" md="8">
                        <v-text-field v-model="item.name" label="Название" :disabled="disabled" />
                    </v-col>
                </v-row>
            </v-container>
        </template>

    </base-crud-table>
</template>

<script>
    import BaseCrudTable from './BaseCrudTable';
    import ACTIONS from '../../constants/actions';
    import disciplinesAdminApi from '../../api/admin/disciplines';

    const headers = [
        {
            text: '# id',
            value: 'id',
        },
        {
            text: 'Название',
            value: 'name',
        },
        {
            text: 'Действия',
            value: 'action',
            sortable: false
        },
    ];

    export default {
        components: {
            BaseCrudTable
        },

        data: () => ({
            options: {
                tableTitle: 'Дисциплины',
                headers,
                defaultItem: {
                    name: ''
                },

                createPermission: ACTIONS.DISCIPLINES_CREATE,
                editPermission: ACTIONS.DISCIPLINES_UPDATE,
                dropPermission: ACTIONS.DISCIPLINES_DELETE,

                _getData: (params) => disciplinesAdminApi.getList(params),
                _getItem: (id) => disciplinesAdminApi.getItem(id),

                _createItem: (data) => disciplinesAdminApi.createItem(data),
                _editItem: (id, data) => disciplinesAdminApi.editItem(id, data),
                _dropItem: (id) => disciplinesAdminApi.dropItem(id),

                entityDialogTitle: (id) => id ? `Редактирование Дисциплины #${id}` : 'Добавление Дисциплины',
                dropEntityDialogTitle: (id) => `Удаление Дисциплины #${id}`,
            }
        })
    }
</script>