<style lang="stylus" scoped>
    .filter
        margin-right 10px
</style>

<template>
    <base-crud-table ref="table"
                     v-bind="options"
                     :filters="filters"
                     :show-table="!!filters.disciplineId"
                     :default-create-item="defaultItem"
                     @update:items="items = $event">

        <template v-slot:mainHeader>
            <w-combobox class="filter"
                        v-model="filters.disciplineId"
                        entity-type="disciplines"
                        label="Дисциплина"
                        filter />

            <w-combobox class="filter"
                        v-model="filters.parentId"
                        entity-type="subjects"
                        label="Над Тема"
                        filter />
        </template>


        <template v-slot:entityDialogData="{ item, disabled }">
            <v-container>
                <v-row>
                    <v-col cols="12" sm="8" md="8">
                        <v-text-field v-model="item.name" label="Название" :disabled="disabled" />
                    </v-col>

                    <v-col cols="12" sm="8" md="8">
                        <w-combobox v-model="item.disciplineId"
                                    entity-type="disciplines"
                                    label="Дисциплина" />
                    </v-col>

                    <v-col cols="12" sm="8" md="8">
                        <w-combobox v-model="item.parentId"
                                    entity-type="subjects"
                                    label="НадТема" />
                    </v-col>
                </v-row>
            </v-container>
        </template>

        <template v-slot:item.preAction="{ item }">
            <v-icon
                    @click="$set(filters, 'parentId', item.id)"
                    small
                    class="mr-4"
            >
                input
            </v-icon>
        </template>

        <template v-slot:item.extraAction="{ item }">
            <v-icon
                    v-if="checkPermission(ACTIONS.SUBJECTS_UPDATE) && item.order > firstItem.order"
                    @click="moveItemUp(item.id)"
                    small
                    class="mr-2"
            >
                keyboard_arrow_up
            </v-icon>

            <v-icon
                    v-if="checkPermission(ACTIONS.SUBJECTS_UPDATE) && item.order < lastItem.order"
                    @click="moveItemDown(item.id)"
                    small
            >
                keyboard_arrow_down
            </v-icon>
        </template>
    </base-crud-table>
</template>

<script>
    import BaseCrudTable from './BaseCrudTable';
    import ACTIONS from '../../constants/actions';
    import subjectsAdminApi from '../../api/admin/subjects';

    const headers = [
        {
            text: '',
            value: 'preAction',
            sortable: false,
        },
        {
            text: 'Название',
            value: 'name',
            sortable: false,
        },
        {
            text: 'Подтемы',
            value: 'nestedCount',
            sortable: false,
        },
        {
            text: 'Действия',
            value: 'action',
            sortable: false
        },
        {
            text: 'Доп Действия',
            value: 'extraAction',
            sortable: false
        },
    ];

    export default {
        components: {
            BaseCrudTable
        },

        data: () => ({
            items: [],

            filters: {},

            options: {
                tableTitle: 'Темы',
                headers,
                defaultItem: {
                    name: ''
                },
                initSortBy: [ 'order' ],
                initSortDesc: [ false ],
                initLimit: -1,

                createPermission: ACTIONS.SUBJECTS_CREATE,
                editPermission: ACTIONS.SUBJECTS_UPDATE,
                dropPermission: ACTIONS.SUBJECTS_DELETE,

                _getData: (params) => subjectsAdminApi.getList(params),
                _getItem: (id) => subjectsAdminApi.getItem(id),

                _createItem: (data) => subjectsAdminApi.createItem(data),
                _editItem: (id, data) => subjectsAdminApi.editItem(id, data),
                _dropItem: (id) => subjectsAdminApi.dropItem(id),

                entityDialogTitle: (id) => id ? `Редактирование Темы #${id}` : 'Добавление Темы',
                dropEntityDialogTitle: (id) => `Удаление Темы #${id}`,
            }
        }),

        computed: {
            defaultItem() {
                const { filters: { disciplineId, parentId } } = this;

                return {
                    disciplineId,
                    parentId,
                }
            },

            firstItem() {
                const { items } = this;

                return items[0] || {};
            },

            lastItem() {
                const { items } = this;

                return items[ items.length - 1 ] || {};
            },
        },

        methods: {
            async moveItemUp(id) {
                await subjectsAdminApi.moveItemUp(id);

                await this.$refs.table.getData();
            },

            async moveItemDown(id) {
                await subjectsAdminApi.moveItemDown(id);

                await this.$refs.table.getData();
            },
        }
    }
</script>
