<template>
    <base-crud-table v-bind="options"
                     :filters="filters"
                     :headers="headers"
                     :default-create-item="defaultItem"
                     :on-edit-item="onEditItem"
                     @click:row="onEditItem">

        <template v-slot:mainHeader>
            <w-combobox class="filter"
                        v-model="filters.disciplineId"
                        entity-type="disciplines"
                        label="Дисциплина"
                        filter />
        </template>

        <template v-slot:entityDialogData="{ item, disabled }">
            <v-container>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <v-text-field v-model="item.name" label="Название" :disabled="disabled" />
                    </v-col>

                    <v-col cols="12" sm="12" md="12">
                        <w-combobox v-model="item.disciplineId"
                                    entity-type="disciplines"
                                    label="Дисциплина"
                                    :disabled="disabled" />
                    </v-col>
                </v-row>
            </v-container>
        </template>

    </base-crud-table>
</template>

<script>
    import BaseCrudTable from './BaseCrudTable';
    import ACTIONS from '../../constants/actions';
    import testsAdminApi from '../../api/admin/tests';
    import shortEntityTextMappers from '../../helpers/shortEntityTextMappers';


    export default {
        components: {
            BaseCrudTable
        },

        data: () => ({
            filters: {},

            options: {
                tableTitle: 'Тесты',

                createPermission: ACTIONS.TESTS_CREATE,
                editPermission: ACTIONS.TESTS_UPDATE,
                dropPermission: ACTIONS.TESTS_DELETE,

                _getData: (params) => testsAdminApi.getList(params),
                _getItem: (id) => testsAdminApi.getItem(id),

                _createItem: (data) => testsAdminApi.createItem(data),
                _editItem: (id, data) => testsAdminApi.editItem(id, data),
                _dropItem: (id) => testsAdminApi.dropItem(id),

                entityDialogTitle: (id) => id ? `Редактирование Теста #${id}` : 'Добавление Теста',
                dropEntityDialogTitle: (id) => `Удаление Теста #${id}`,

                _mapDataItem: (item) => Object.assign(item, {
                    discipline: shortEntityTextMappers.disciplines(item._discipline),
                    owner: shortEntityTextMappers.users(item._owner),
                }),
            }
        }),

        computed: {
            headers() {
                const { checkPermission, filters: { disciplineId } } = this;

                return [
                    {
                        text: '# id',
                        value: 'id',
                    },
                    {
                        text: 'Название',
                        value: 'name',
                    },

                    !disciplineId && {
                        text: 'Дисциплина',
                        value: 'discipline'
                    },

                    checkPermission(ACTIONS.ANY_OWNER_ACCESS) && {
                        text: 'Пользователь',
                        value: 'owner',
                    },

                    {
                        text: 'Действия',
                        value: 'action',
                        sortable: false
                    },
                ].filter(v => v);
            },

            defaultItem() {
                const { disciplineId } = this.filters;

                return {
                    name: '',
                    disciplineId
                };
            },
        },

        methods: {
            onEditItem(item) {
                this.$router.push('/admin/tests/' + item.id);
            }
        },
    }
</script>