<template>
    <base-crud-table ref="table"
                     v-bind="options"
                     :headers="headers"
                     @click:row="openItemPage">

        <template v-slot:entityDialogData="{ item, disabled }">
            <test-session-short-form :item="item" :disabled="disabled" />
        </template>

        <template v-slot:item.action="{ item }">
            <v-icon
                    v-if="item.status === 'draft' && checkPermission(ACTIONS.TEST_SESSIONS_UPDATE)"
                    small
                    class="mr-2"
                    @click.stop="$refs.table.editItem(item)"
            >
                edit
            </v-icon>

            <v-icon
                    v-if="item.status === 'draft' && checkPermission(ACTIONS.TEST_SESSIONS_DELETE)"
                    small
                    @click.stop="$refs.table.openDropEntityDialog(item)"
            >
                delete
            </v-icon>
        </template>
    </base-crud-table>
</template>

<script>
    import BaseCrudTable from './BaseCrudTable';
    import TestSessionShortForm from '../entityForms/TestSession/ShortForm'
    import ACTIONS from '../../constants/actions';
    import testSessionsAdminApi from '../../api/admin/testSessions';
    import shortEntityTextMappers from '../../helpers/shortEntityTextMappers';
    import { TEST_SESSIONS_STATUSES_MAP } from '../../constants/testSessionsStatuses';


    export default {
        components: {
            BaseCrudTable,
            TestSessionShortForm
        },

        data: () => ({
            options: {
                tableTitle: 'Сессии тестирования',
                defaultItem: {
                    name: ''
                },

                createPermission: ACTIONS.TEST_SESSIONS_CREATE,
                editPermission: ACTIONS.TEST_SESSIONS_UPDATE,
                dropPermission: ACTIONS.TEST_SESSIONS_DELETE,

                _getData: (params) => testSessionsAdminApi.getList(params),
                _getItem: (id) => testSessionsAdminApi.getItem(id),

                _createItem: (data) => testSessionsAdminApi.createItem(data),
                _editItem: (id, data) => testSessionsAdminApi.editItem(id, data),
                _dropItem: (id) => testSessionsAdminApi.dropItem(id),

                entityDialogTitle: (id) => id ? `Редактирование Сессии тестирования #${id}` : 'Добавление Сессии тестирования',
                dropEntityDialogTitle: (id) => `Удаление Сессии тестирования #${id}`,

                _mapDataItem: (item) => Object.assign(item, {
                    owner: shortEntityTextMappers.users(item._owner),
                    test: shortEntityTextMappers.tests(item._test),
                    testGroup: shortEntityTextMappers.testGroups(item._testGroup),

                    statusName: TEST_SESSIONS_STATUSES_MAP[item.status],
                }),
            }
        }),

        computed: {
            headers() {
                return [
                    {
                        text: '# id',
                        value: 'id',
                    },

                    this.checkPermission(ACTIONS.ANY_OWNER_ACCESS) && {
                        text: 'Пользователь',
                        value: 'owner',
                    },

                    {
                        text: 'Название',
                        value: 'name',
                    },

                    {
                        text: 'Тест',
                        value: 'test',
                    },
                    {
                        text: 'Группа тестирования',
                        value: 'testGroup',
                    },

                    {
                        text: 'Статус',
                        value: 'statusName',
                    },

                    {
                        text: 'Действия',
                        value: 'action',
                        sortable: false
                    },
                ].filter(v => v);
            },
        },

        methods: {
            openItemPage(item) {
                this.$router.push('/admin/testSessions/' + item.id);
            }
        },
    }
</script>