<template>
    <base-crud-table v-bind="options"
                     :headers="headers"
                     :filters="filters"
                     :on-edit-item="onEditItem"
                     @click:row="onEditItem" >

        <template v-slot:mainHeader>
            <user-school-input v-if="checkPermission(ACTIONS.ANY_SCHOOL_ACCESS)"
                               class="filter"
                               v-model="filters.schoolId"/>
        </template>

        <template v-slot:entityDialogData="{ item, disabled }">
            <v-container>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <v-text-field v-model="item.name" label="Название" :disabled="disabled" />
                    </v-col>

                    <v-col cols="12" sm="12" md="12">
                        <user-school-input v-model="item.schoolId" :disabled="disabled" />
                    </v-col>
                </v-row>
            </v-container>
        </template>

    </base-crud-table>
</template>

<script>
    import BaseCrudTable from './BaseCrudTable';
    import ACTIONS from '../../constants/actions';
    import testGroupsAdminApi from '../../api/admin/testGroups';
    import shortEntityTextMappers from '../../helpers/shortEntityTextMappers';


    export default {
        components: {
            BaseCrudTable
        },

        data: () => ({
            filters: {},

            options: {
                tableTitle: 'Группы тестирования',
                defaultItem: {
                    name: ''
                },

                createPermission: ACTIONS.TEST_GROUPS_CREATE,
                editPermission: ACTIONS.TEST_GROUPS_UPDATE,
                dropPermission: ACTIONS.TEST_GROUPS_DELETE,

                _getData: (params) => testGroupsAdminApi.getList(params),
                _getItem: (id) => testGroupsAdminApi.getItem(id),

                _createItem: (data) => testGroupsAdminApi.createItem(data),
                ///_editItem: (id, data) => testGroupsAdminApi.editItem(id, data),
                _dropItem: (id) => testGroupsAdminApi.dropItem(id),

                entityDialogTitle: (id) => id ? `Редактирование Группы тестирования #${id}` : 'Добавление Группы тестирования',
                dropEntityDialogTitle: (id) => `Удаление Группы тестирования #${id}`,


                _mapDataItem: (item) => Object.assign(item, {
                    school: shortEntityTextMappers.schools(item._school),
                    owner: shortEntityTextMappers.users(item._owner),
                }),
            }
        }),

        computed: {
            headers() {
                const { checkPermission } = this;

                return [
                    {
                        text: '# id',
                        value: 'id',
                    },
                    {
                        text: 'Название',
                        value: 'name',
                    },

                    checkPermission(ACTIONS.ANY_SCHOOL_ACCESS) && {
                        text: 'Школа',
                        value: 'school',
                    },

                    checkPermission(ACTIONS.ANY_OWNER_ACCESS) && {
                        text: 'Пользователь',
                        value: 'owner',
                    },

                    {
                        text: 'Действия',
                        value: 'action',
                        sortable: false
                    },
                ].filter(v => v);
            },
        },

        methods: {
            onEditItem(item) {
                this.$router.push('/admin/testGroups/' + item.id);
            }
        },
    }
</script>
