<style lang="stylus" scoped>
    .filter
        margin-right 10px
</style>

<template>
    <base-crud-table ref="table"
                     :headers="headers"
                     :default-item="defaultItem"
                     :table-title="tableTitle"
                     :create-permission="createPermission"
                     :edit-permission="editPermission"
                     :drop-permission="dropPermission"
                     :_map-data-item="itemMapper"
                     :filters="filters"
                     :_get-data="_getData"
                     :_get-item="_getItem"
                     :_create-item="_createItem"
                     :_edit-item="_editItem"
                     :_drop-item="_dropItem"
                     :entity-dialog-title="entityDialogTitle"
                     :drop-entity-dialog-title="dropEntityDialogTitle"
                     :default-create-item="defaultCreateItem">

        <template v-slot:mainHeader>
            <user-school-input v-if="role !== 'admin'"
                          class="filter"
                          v-model="filters.schoolId"/>

            <w-combobox v-if="role === 'pupil'"
                        class="filter"
                        v-model="filters.classId"
                        :default-params="{ schoolId: filters.schoolId }"
                        entity-type="classes"
                        label="Класс"
                        filter
                        :disabled="!filters.schoolId" />
        </template>

        <template v-slot:entityDialogData="{ item, disabled }">
            <v-container>
                <v-row>
                    <v-col cols="12" sm="6" md="6">
                        <v-text-field v-model="item.login" label="Логин"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="6" md="6">
                        <v-text-field v-model="item.password" label="Пароль" type="password"></v-text-field>
                    </v-col>

                    <template v-if="role !== 'admin'">
                        <v-col cols="12" sm="12" md="12">
                            <v-text-field v-model="item.fio" label="ФИО"></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6" md="6">
                            <v-text-field v-model="item.email" label="Email"></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6" md="6">
                            <v-text-field v-model="item.phone" label="Телефон"></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="12" md="12">
                            <user-school-input v-model="item.schoolId" />
                        </v-col>
                    </template>

                    <template v-if="role === 'pupil'">
                        <v-col cols="12" sm="12" md="12">
                            <w-combobox v-model="item.classId"
                                        entity-type="classes"
                                        :default-params="{ schoolId: item.schoolId }"
                                        :disabled="!item.schoolId"
                                        label="Класс"
                                        filter />
                        </v-col>
                    </template>
                </v-row>
            </v-container>
        </template>

    </base-crud-table>
</template>


<script>
    import BaseCrudTable from './BaseCrudTable';
    import ACTIONS from '../../constants/actions'
    import usersAdminApi from '../../api/admin/users'
    import shortEntityTextMappers from '../../helpers/shortEntityTextMappers';


    const ROLES_MAP = {
        admin: 'Администраторы',
        school_admin: 'Школьные админастраторы',
        teacher: 'Учителя',
        pupil: 'Ученики',
    };

    const ROLES_GENETIVE_MAP = {
        admin: 'Администратора',
        school_admin: 'Школьного админастратора',
        teacher: 'Учителя',
        pupil: 'Ученика',
    };

    const ACTIONS_MAP_BY_ENTITY_ROLE = {
        admin: {
            create: ACTIONS.USERS_ADMINS_CREATE,
            update: ACTIONS.USERS_ADMINS_UPDATE,
            drop: ACTIONS.USERS_ADMINS_DELETE,
        },

        school_admin: {
            create: ACTIONS.USERS_SCHOOL_ADMINS_CREATE,
            update: ACTIONS.USERS_SCHOOL_ADMINS_UPDATE,
            drop: ACTIONS.USERS_SCHOOL_ADMINS_DELETE,
        },

        teacher: {
            create: ACTIONS.USERS_TEACHERS_CREATE,
            update: ACTIONS.USERS_TEACHERS_UPDATE,
            drop: ACTIONS.USERS_TEACHERS_DELETE,
        },

        pupil: {
            create: ACTIONS.USERS_PUPILS_CREATE,
            update: ACTIONS.USERS_PUPILS_UPDATE,
            drop: ACTIONS.USERS_PUPILS_DELETE,
        },
    };


    export default {
        components: {
            BaseCrudTable
        },

        props: [ 'role' ],

        data: () => ({
            defaultItem: {
                login: '',
                password: ''
            },

            filters: {},

            itemMapper: (item) => Object.assign(item, {
                school: shortEntityTextMappers.schools(item._school),
                class: shortEntityTextMappers.classes(item._class),
            }),
        }),

        computed: {
            tableTitle() {
                return ROLES_MAP[this.role];
            },

            headers() {
                const { role } = this;

                return [
                    {
                        text: '# id',
                        value: 'id',
                    },
                    {
                        text: 'Логин',
                        value: 'login',
                    },
                ].concat(
                    role !== 'admin' && [
                        {
                            text: 'ФИО',
                            value: 'fio'
                        },
                        /**{
                            text: 'Дата рождения',
                            value: 'birthday'
                        },**/
                        {
                            text: 'Email',
                            value: 'email'
                        },
                        {
                            text: 'Телефон',
                            value: 'phone'
                        },
                        {
                            text: 'Школа',
                            value: 'school'
                        },
                    ],

                    role === 'pupil' && {
                        text: 'Класс',
                        value: 'class',
                    },

                    {
                        text: 'Действия',
                        value: 'action',
                        sortable: false
                    }
                )




            },

            createPermission() {
                return (ACTIONS_MAP_BY_ENTITY_ROLE[this.role] || {})['create'];
            },

            editPermission() {
                return (ACTIONS_MAP_BY_ENTITY_ROLE[this.role] || {})['update'];
            },

            dropPermission() {
                return (ACTIONS_MAP_BY_ENTITY_ROLE[this.role] || {})['drop'];
            },

            defaultCreateItem() {
                const { filters } = this;

                return {
                    schoolId: filters.schoolId,
                    classId: filters.classId
                }
            },
        },

        watch: {
            role() {
                this.$refs.table.getData();
            }
        },

        methods: {
            _getData(params) { return usersAdminApi.getList(this.role)(params); },
            _getItem(id) { return usersAdminApi.getItem(this.role)(id); },

            _createItem(data) { return usersAdminApi.createItem(this.role)(data); },
            _editItem(id, data) { return usersAdminApi.editItem(this.role)(id, data); },
            _dropItem(id) { return usersAdminApi.dropItem(this.role)(id); },

            entityDialogTitle(id) {
                const genetive = ROLES_GENETIVE_MAP[this.role];

                return id ? `Редактирование ${genetive} #${id}` : `Добавление ${genetive}`;
            },
            dropEntityDialogTitle(id) {
                return `Удаление ${ROLES_GENETIVE_MAP[this.role]} #${id}`;
            },
        },
    }
</script>
