<style lang="stylus" scoped>
    .page__header
        /*width 100%*/
        display flex;
        flex-wrap wrap;

</style>


<template>
    <div v-if="testSession">
        <div class="page__header">
            <v-card style="width: 600px">
                <v-simple-table>
                    <tbody>
                        <tr>
                            <td>Сессия тестирования</td>
                            <td>{{ id }}. {{ testSession.name }}</td>
                        </tr>

                        <tr>
                            <td>Количество вопросов</td>
                            <td>{{ testSession.questions.length }}</td>
                        </tr>

                        <tr>
                            <td>Продолжительность (мин.)</td>
                            <td>{{ testSession.duration }}</td>
                        </tr>

                        <tr>
                            <td>Статус</td>
                            <td>{{ TEST_SESSIONS_STATUSES_MAP[ testSession.status ] }}</td>
                        </tr>

                        <tr>
                            <td>Открыта для пользователей</td>
                            <td>{{ humanDatetimeFormat(testSession.preparingAt) }}</td>
                        </tr>

                        <tr>
                            <td>Запуск тестирования</td>
                            <td>{{ humanDatetimeFormat(testSession.startedAt) }}</td>
                        </tr>

                        <tr v-if="testSession.activeBefore && testSession.status === 'active'">
                            <td>Таймер</td>
                            <td>
                                <remaining-timer :before="testSession.activeBefore" style="font-weight: bold;" />
                            </td>
                        </tr>
                    </tbody>
                </v-simple-table>
            </v-card>
        </div>


        <v-btn v-if="testSession.status === 'draft'" class="mt-2"
               :loading="statusUpdating"
               @click="setTestSessionStatus('preparing')">
            Открыть для учеников
        </v-btn>

        <v-btn v-if="testSession.status === 'preparing'" class="mt-2"
               :loading="statusUpdating"
               @click="setTestSessionStatus('draft')">
            Скрыть для учеников
        </v-btn> <!-- TODO with confirm & del active -->

        <v-btn v-if="testSession.status === 'preparing'" class="mt-2 ml-2"
               :loading="statusUpdating"
               @click="setTestSessionStatus('active')">
            Запустить тестирование
        </v-btn>


        <v-card class="mt-2" v-if="testGroupUsers">
            <v-card-title>Ученики входящие в сессию тестирования</v-card-title>

            <v-card-text>
                <v-data-table
                        :headers="testGroupUsersHeaders"
                        :items="testGroupUsersMapped"
                        :items-per-page="-1"
                        :expanded.sync="expanded"
                        :show-expand="showExpand"
                        disable-sort
                        hide-default-footer
                        @click:row="expandItem"
                >
                    <template v-slot:item.online="{ item }">
                        <v-icon :color="online[item.id] ? 'green' : 'grey'">lens</v-icon>
                    </template>

                    <template v-slot:item.offline="{ item }">
                        <span v-if="userStatuses[ item.id ] && (userStatuses[ item.id ].offlineDuration || userStatuses[ item.id ].offlineAt)">
                            <passed-timer :after="userStatuses[ item.id ].offlineAt"
                                          :boost="userStatuses[ item.id ].offlineDuration" />
                        </span>
                    </template>

                    <template v-slot:item.testSession="{ item }">
                        <v-icon v-if="userStatuses[ item.id ]">done_outline</v-icon>
                    </template>

                    <template v-slot:item.questionNumber="{ item }">
                        <template v-if="userStatuses[ item.id ] && testSession.status === 'active'">
                            <v-icon v-if="userStatuses[ item.id ].finished">done_all</v-icon>

                            <span v-else>{{ userStatuses[ item.id ].questionNumber }} / {{ testSession.questions.length }}</span>
                        </template>
                    </template>

                    <template v-slot:item.control="{ item }">
                        <span v-if="userStatuses[ item.id ] && (userStatuses[ item.id ].blurredDuration || userStatuses[ item.id ].blurredAt)">
                            <v-icon v-if="userStatuses[ item.id ].blurredAt" class="mr-2">visibility_off</v-icon>

                            <passed-timer :after="userStatuses[ item.id ].blurredAt"
                                          :boost="userStatuses[ item.id ].blurredDuration" />
                        </span>
                    </template>

                    <template v-slot:item.currentRate="{ item }">
                        <span v-if="userStatuses[ item.id ] && userStatuses[ item.id ].questionNumber > 1">
                            <b>{{ getRateByPercentage(userStatuses[ item.id ].currentPercentage) }}</b>
                            ({{ userStatuses[ item.id ].currentPercentage.toPrecision(4) }}%)
                        </span>
                    </template>

                    <template v-slot:item.rate="{ item }">
                        <span v-if="userStatuses[ item.id ] && userStatuses[ item.id ].questionNumber > 1">
                            <b>{{ getRateByPercentage(userStatuses[ item.id ].rightPercentage) }}</b>
                            ({{ userStatuses[ item.id ].rightPercentage.toPrecision(4) }}%)
                        </span>
                    </template>

                    <template v-slot:expanded-item="{ headers, item }">
                        <td v-if="userStatuses[ item.id ]" :colspan="headers.length">
                            <div style="margin: 10px">
                                <span v-if="userStatuses[ item.id ].startedAt">
                                    Начал тестирование: {{ humanDatetimeFormat(userStatuses[ item.id ].startedAt) }}
                                </span>

                                <span v-if="userStatuses[ item.id ].finishedAt" class="ml-4">
                                    Завершил тестирование: {{ humanDatetimeFormat(userStatuses[ item.id ].finishedAt) }}
                                </span>
                            </div>

                            <user-answers-table v-if="userAnswers[item.id]" class="mt-1 mb-1"
                                                :questionsById="questionsById"
                                                :answers="userAnswers[item.id]" />
                        </td>
                    </template>

                </v-data-table>
            </v-card-text>
        </v-card>
    </div>
</template>


<script>
    import testSessionsAdminApi from '../../../api/admin/testSessions';
    import shortEntityTextMappers from '../../../helpers/shortEntityTextMappers';
    import { TEST_SESSIONS_STATUSES_MAP } from '../../../constants/testSessionsStatuses';
    import { accumulateToObject } from '../../../utils/base';
    import connectToSocket from '../../../services/socket.io';
    import RemainingTimer from '../../elements/timers/RemainingTimer';
    import PassedTimer from '../../elements/timers/PassedTimer';
    import UserAnswersTable from './UserAnswersTable';


    export const testGroupUsersHeaders = [
        {
            text: '# id',
            value: 'id',
        },
        {
            text: 'Логин',
            value: 'login',
        },
        {
            text: 'ФИО',
            value: 'fio'
        },
        {
            text: 'Класс',
            value: 'class',
        },

        {
            text: 'Online',
            value: 'online',
        },
        {
            text: 'Offline',
            value: 'offline',
        },
        {
            text: 'Тест сессия',
            value: 'testSession',
        },
        {
            text: 'Текущий Вопрос',
            value: 'questionNumber',
        },

        {
            text: 'Контроль',
            value: 'control',
        },

        {
            text: 'Оценка по ответам',
            value: 'currentRate',
        },
        {
            text: 'Оценка итоговая',
            value: 'rate',
        },

        { text: '', value: 'data-table-expand' },
    ];

    export default {
        components: {
            UserAnswersTable,
            RemainingTimer,
            PassedTimer,
        },

        props: [ 'id' ],

        data: () => ({
            TEST_SESSIONS_STATUSES_MAP,
            testGroupUsersHeaders,

            testSession: null,
            testGroupUsers: null,
            userStatuses: {},
            userAnswers: {},
            online: {},
            expanded: [],
            questionsById: {},

            statusUpdating: false,
            socketService: null,

            remainingSeconds: -1,
        }),

        computed: {
            testGroupUsersMapped() {
                return this.testGroupUsers && this.testGroupUsers.map(item => Object.assign(item, {
                    class: shortEntityTextMappers.classes(item._class),
                }));
            },

            showExpand() {
                return [ 'active', 'finished' ].includes(this.testSession.status)
            }
        },

        methods: {
            async getData() {
                const testSessionInfoResp = await testSessionsAdminApi.getInfo(this.id);

                this.testSession = testSessionInfoResp.data;
                this.testGroupUsers = testSessionInfoResp.data.users;
                this.userStatuses = testSessionInfoResp.data.userStatuses;
                this.userAnswers = testSessionInfoResp.data.userAnswers;
                this.online = testSessionInfoResp.data.online;

                this.questionsById = accumulateToObject(
                    this.testSession.questions,
                    q => ({ [q.id]: q })
                );
            },

            async setTestSessionStatus(status) {
                this.statusUpdating = true;

                try {
                    await testSessionsAdminApi.setStatus(this.id, status);
                } finally {
                    this.statusUpdating = false;
                }

                await this.getData();
            },

            expandItem(item) {
                if (!this.showExpand) return;

                const index = this.expanded.findIndex(r => r.id === item.id);

                if (index === -1) {
                    this.expanded.push(item);
                } else {
                    this.expanded.splice(index, 1);
                }
            },

            getRateByPercentage(percentage) {
                const { datas: { rates } } = this.testSession.test;

                if (percentage >= rates[5]) return 5;
                if (percentage >= rates[4]) return 4;
                if (percentage >= rates[3]) return 3;
                return 2;
            },
        },

        async mounted() {
            await this.getData();

            this.socketService = connectToSocket();

            this.socketService.on('getSubscriptions', () => {
                this.socketService.emit(
                    'subscribeTestSession',
                    this.testSession.id,
                    this.testGroupUsers.map(u => u.id)
                );
            });

            this.socketService.on('user_connected', userId => {
                this.$set(this.online, userId, userId);
            });
            this.socketService.on('user_disconnected', userId => {
                this.$set(this.online, userId, false);
            });

            this.socketService.on('force_testSession_update', () => {
                this.getData();
            });
        },

        beforeDestroy() {
            this.socketService && this.socketService.disconnect();
        },
    }
</script>
