<style lang="stylus" scoped>
    .question-text
        /*width 300px*/
        white-space pre-wrap
        word-break break-word

    .user-answer
        padding 4px
        font-weight bold
        background-color rgba(211, 32, 73, 0.55) /* Wrong answer */

        &--right
            background-color rgba(83, 200, 89, 0.75)

</style>

<template>
    <v-data-table :headers="headers"
                  :items="answers"
                  :items-per-page="-1"
                  disable-sort
                  hide-default-footer >

        <template v-slot:item.order="{ item }">
            {{ questionsById[item.testQuestionId].order }}
        </template>

        <template v-slot:item.questionType="{ item }">
            {{ QUESTION_TYPES_MAP[ questionsById[item.testQuestionId].type ] }}
        </template>

        <template v-slot:item.question="{ item }">
            <span class="question-text">{{ questionsById[item.testQuestionId].text }}</span>
        </template>

        <template v-slot:item.answer="{ item }">
            <span class="user-answer" :class="{ 'user-answer--right': item.right }">
                <template v-if="questionsById[item.testQuestionId].type === 'input'">
                    {{ item.answer }}
                </template>

                <template v-else-if="questionsById[item.testQuestionId].type === 'options'">
                    {{ questionsById[item.testQuestionId].answers[ item.answer ] }}
                </template>
            </span>
        </template>

        <template v-slot:item.rightAnswer="{ item }">
            <span v-if="questionsById[item.testQuestionId].type === 'input'">
                {{ questionsById[item.testQuestionId].rightAnswer }}
            </span>

            <span v-else-if="questionsById[item.testQuestionId].type === 'options'">
                {{ questionsById[item.testQuestionId].answers[ questionsById[item.testQuestionId].rightAnswer ] }}
            </span>
        </template>

        <template v-slot:item.createdAt="{ item }">
            {{ humanDatetimeFormat(item.createdAt) }}
        </template>
    </v-data-table>
</template>


<script>

    const headers = [
        {
            text: 'Номер',
            value: 'order',
        },

        {
            text: 'Тип Вопроса',
            value: 'questionType'
        },

        {
            text: 'Вопрос',
            value: 'question',
        },

        {
            text: 'Ответ пользователя',
            value: 'answer'
        },

        {
            text: 'Правильный ответ',
            value: 'rightAnswer'
        },

        {
            text: 'Время ответа',
            value: 'createdAt'
        }
    ];

    const QUESTION_TYPES_MAP = {
        options: 'Варианты',
        input: 'Ввод'
    };

    export default {
        props: [ 'questionsById', 'answers' ],

        data: () => ({
            headers,
            QUESTION_TYPES_MAP,
        }),
    };
</script>