<style lang="stylus" scoped>
    .page
        width 100%;
</style>


<template>
    <div class="page">
        <classes-crud-table />
    </div>
</template>


<script>
    import ClassesCrudTable from '../../components/crudTables/Classes'

    export default {
        components: {
            ClassesCrudTable
        }
    }
</script>