<template>
    <div>
        <disciplines-crud-table />
    </div>
</template>


<script>
    import DisciplinesCrudTable from '../../components/crudTables/Disciplines'

    export default {
        components: {
            DisciplinesCrudTable
        }
    }
</script>