<template>
    <div>
        <schools-crud-table />
    </div>
</template>


<script>
    import SchoolsCrudTable from '../../components/crudTables/Schools'

    export default {
        components: {
            SchoolsCrudTable
        }
    }
</script>