<style lang="stylus" scoped>
    .page
        width 100%;
</style>


<template>
    <div class="page">
        <subjects-crud-table />
    </div>
</template>


<script>
    import SubjectsCrudTable from '../../components/crudTables/Subjects'

    export default {
        components: {
            SubjectsCrudTable
        }
    }
</script>
