<style lang="stylus" scoped>
    .page
        width 100%;
</style>


<template>
    <div class="page">
        <test-groups-crud-table />
    </div>
</template>


<script>
    import TestGroupsCrudTable from '../../components/crudTables/TestGroups'

    export default {
        components: {
            TestGroupsCrudTable
        }
    }
</script>