<style lang="stylus" scoped>
    .page
        width 100%;
</style>


<template>
    <div class="page">
        <tests-crud-table />
    </div>
</template>


<script>
    import TestsCrudTable from '../../components/crudTables/Tests'

    export default {
        components: {
            TestsCrudTable
        }
    }
</script>