<style lang="stylus" scoped>
    .page
        width 100%;
</style>


<template>
    <div class="page">
        <test :id="id" :dirty.sync="dirty" />
    </div>
</template>


<script>
    import Test from '../../components/entityForms/Test/index';

    export default {
        components: { Test },

        props: [ 'id' ],

        data: () => ({
            dirty: false
        }),

        mounted() {
            window.onbeforeunload = () => this.dirty && 'Вы хотите уйти? У вас есть несохранённые изменения!' || null;
        },

        beforeDestroy() {
            window.onbeforeunload = null;
        },

        beforeRouteLeave (to, from, next) {
            if (!this.dirty) return next();

            const answer = window.confirm('Вы хотите уйти? У вас есть несохранённые изменения!');
            if (answer) {
                next()
            } else {
                next(false)
            }
        },
    };
</script>