<style lang="stylus" scoped>
    .page
        width 100%;
</style>


<template>
    <div class="page">
        <test-sessions-crud-table />
    </div>
</template>


<script>
    import TestSessionsCrudTable from '../../components/crudTables/TestSessions'

    export default {
        components: {
            TestSessionsCrudTable
        }
    }
</script>