<style lang="stylus" scoped>
    .page
        width 100%;
</style>


<template>
    <div class="page">
        <test-session-page :id="id" />
    </div>
</template>


<script>
    import TestSessionPage from '../../components/pages/TestSession/index';

    export default {
        components: { TestSessionPage },

        props: [ 'id' ]
    };
</script>