<style lang="stylus" scoped>
    .page
        width 100%;
</style>


<template>
    <div class="page">
        <test-group :id="id" />
    </div>
</template>


<script>
    import TestGroup from '../../components/entityForms/TestGroup/index';

    export default {
        components: { TestGroup },

        props: [ 'id' ]
    };
</script>