<style lang="stylus" scoped>
    .page
        width 100%;
</style>

<template>
    <div class="page">
        <v-tabs>
            <v-tab v-if="checkPermission(ACTIONS.USERS_ADMINS_READ)" to="/admin/users/admins">
                Администраторы
            </v-tab>
            <v-tab v-if="checkPermission(ACTIONS.USERS_SCHOOL_ADMINS_READ)" to="/admin/users/school_admins">
                Школьные администраторы
            </v-tab>
            <v-tab v-if="checkPermission(ACTIONS.USERS_TEACHERS_READ)" to="/admin/users/teachers">
                Учителя
            </v-tab>
            <v-tab v-if="checkPermission(ACTIONS.USERS_PUPILS_READ)" to="/admin/users/pupils">
                Ученики
            </v-tab>
        </v-tabs>

        <router-view></router-view>
    </div>
</template>