<template>
    <div>
        <test-group-form :id="id" @item="item = $event" />

        <test-group-users :test-group-id="id" :test-group="item" />
    </div>
</template>


<script>
    import TestGroupForm from './TestGroupForm';
    import TestGroupUsers from './TestGroupUsers';

    export default {
        components: {
            TestGroupForm,
            TestGroupUsers,
        },

        props: [ 'id' ],

        data: () => ({
            item: {}
        }),
    }
</script>
