<template>
    <div>
        <v-card class="mt-2">
            <v-card-title>Ученики входящие в группу тестирования</v-card-title>

            <v-card-text>
                <v-data-table
                        :headers="headers"
                        :items="groupUsers"
                        :items-per-page="-1"
                >
                    <template v-slot:item.extraAction="{ item }">
                        <v-icon @click="removeUserFromGroup(item)">
                            clear
                        </v-icon>
                    </template>
                </v-data-table>
            </v-card-text>
        </v-card>

        <users-table class="mt-4" :schoolId="testGroup.schoolId">
            <template v-slot:item.action="{ item }">
                <v-icon v-if="!groupUsers.find(i => i.id === item.id)"
                        @click="addUserToGroup(item)">
                    add
                </v-icon>

                <v-icon v-else @click="removeUserFromGroup(item)">
                    clear
                </v-icon>
            </template>
        </users-table>
    </div>
</template>


<script>
    import testGroupsAdminApi from '../../../api/admin/testGroups';
    import UsersTable, { headers } from './UsersTable';

    export default {
        components: {
            UsersTable
        },

        props: [ 'testGroupId', 'testGroup' ],

        data: () => ({
            headers,
            groupUsers: [],
        }),

        methods: {
            async getData() {
                await testGroupsAdminApi.getTestGroupUsersList(this.testGroupId)
                    .then(resp => {
                        this.groupUsers = resp.data;
                    });
            },

            async addUserToGroup(item) {
                await testGroupsAdminApi.addUserToTestGroup(this.testGroupId, item.id);

                this.groupUsers.push(item);
            },

            async removeUserFromGroup({ id }) {
                await testGroupsAdminApi.dropUserFromGroup(this.testGroupId, id);

                this.groupUsers = this.groupUsers.filter(i => i.id !== id);
            },
        },

        mounted() {
            this.getData();
        },
    }
</script>
