<template>
    <v-card v-if="remoteItemLoaded">
        <form @submit.prevent="saveItem">
            <v-card-title>
                <span class="headline">Группа тестирования #{{ id }}</span>
            </v-card-title>

            <v-card-text>
                <v-container fluid>
                    <v-row>
                        <v-col cols="12" md="4" sm="6" xs="12">
                            <v-text-field v-model="item.name" label="Название" />
                        </v-col>

                        <v-col cols="12" md="4" sm="6" xs="12">
                            <w-combobox v-model="item.schoolId"
                                        entityType="schools"
                                        label="Школа"
                                        disabled />
                        </v-col>

                        <v-col v-if="checkPermission(ACTIONS.ANY_OWNER_ACCESS)" cols="12" md="4" sm="6" xs="12">
                            <w-combobox v-model="item.ownerId"
                                        entityType="users"
                                        label="Пользователь"
                                        disabled />
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn text @click="cancelItemChange" :disabled="!isItemChanged">Отменить</v-btn>
                <v-btn text type="submit" :loading="savingItem" :disabled="savingItem || !isItemChanged">Сохранить</v-btn>
            </v-card-actions>
        </form>
    </v-card>
</template>


<script>
    import testGroupsAdminApi from '../../../api/admin/testGroups';
    import { jsonEquals } from '../../../utils/base';

    export default {
        props: [ 'id' ],

        data: () => ({
            remoteItem: {},
            item: {},
            remoteItemLoaded: false,
            savingItem: false,
        }),

        computed: {
            isItemChanged() {
                return !jsonEquals(this.item, this.remoteItem);
            },
        },

        watch: {
            item(val) {
                this.$emit('item', val);
            }
        },

        methods: {
            cancelItemChange() {
                this.item = Object.assign({}, this.remoteItem);
            },

            async saveItem() {
                const { id, item } = this;

                await testGroupsAdminApi.editItem(id, item);

                await this.getData();
            },

            async getData() {
                await testGroupsAdminApi.getItem(this.id)
                    .then(resp => {
                        this.remoteItem = resp.data;
                        this.item = Object.assign({}, this.remoteItem);
                        this.remoteItemLoaded = true;
                    });
            },
        },

        mounted() {
            this.getData();
        },
    }
</script>