<style lang="stylus" scoped>
    .filter
        margin-right 10px
</style>

<template>
    <base-crud-table :headers="headers"
                     table-title="Ученики"
                     :_map-data-item="itemMapper"
                     :filters="filters"
                     :_get-data="_getData"
                     :default-params="{ schoolId }">

        <template v-slot:mainHeader>
            <w-combobox class="filter"
                        v-model="filters.classId"
                        :default-params="{ schoolId }"
                        entity-type="classes"
                        label="Класс"
                        filter />
        </template>

        <template v-slot:item.extraAction="{ item }">
            <slot name="item.action" v-bind:item="item"></slot>
        </template>
    </base-crud-table>
</template>


<script>
    import BaseCrudTable from '../../crudTables/BaseCrudTable';
    import usersAdminApi from '../../../api/admin/users'
    import shortEntityTextMappers from '../../../helpers/shortEntityTextMappers';

    const ROLE = 'pupil';

    export const headers = [
        {
            text: '# id',
            value: 'id',
        },
        {
            text: 'Логин',
            value: 'login',
        },
        {
            text: 'ФИО',
            value: 'fio'
        },
        {
            text: 'Email',
            value: 'email'
        },
        {
            text: 'Телефон',
            value: 'phone'
        },
        {
            text: 'Школа',
            value: 'school'
        },
        {
            text: 'Класс',
            value: 'class',
        },

        {
            text: 'Действия',
            value: 'extraAction',
            sortable: false
        }
    ];


    export default {
        components: {
            BaseCrudTable
        },

        props: [ 'schoolId' ],

        data: () => ({
            filters: {},
            headers,

            itemMapper: (item) => Object.assign(item, {
                school: shortEntityTextMappers.schools(item._school),
                class: shortEntityTextMappers.classes(item._class),
            }),
        }),

        methods: {
            _getData(params) { return usersAdminApi.getList(ROLE)(params); },
        },
    }
</script>
