<template>
    <combobox
            :value="value"
            @input="$emit('input', $event)"
            @update:raw="$emit('update:raw', $event)"
            :label="label"
            :default-params="defaultParams"
            :itemsGetter="itemsGetter"
            :itemsMapper="itemsMapper"
            :disabled="disabled"
            :filter="filter" />
</template>


<script>
    import Combobox from './Combobox';
    import shortEntityTextMappers from '../../helpers/shortEntityTextMappers'

    import schoolsAdminApi from '../../api/admin/schools';
    import classesAdminApi from '../../api/admin/classes';
    import disciplinesAdminApi from '../../api/admin/disciplines';
    import subjectsAdminApi from '../../api/admin/subjects';
    import usersAdminApi from '../../api/admin/users';
    import testsAdminApi from '../../api/admin/tests';
    import testGroupsAdminApi from '../../api/admin/testGroups';


    const ENTITY_TYPES = {
        schools: {
            getter: schoolsAdminApi.getShortList,
            mapper: item => ({
                value: item.id,
                text: shortEntityTextMappers.schools(item),
            })
        },

        classes: {
            getter: classesAdminApi.getShortList,
            mapper: item => ({
                value: item.id,
                text: shortEntityTextMappers.classes(item),
            })
        },

        disciplines: {
            getter: disciplinesAdminApi.getShortList,
            mapper: item => ({
                value: item.id,
                text: shortEntityTextMappers.disciplines(item),
            })
        },

        subjects: {
            getter: subjectsAdminApi.getShortList,
            mapper: item => ({
                value: item.id,
                text: shortEntityTextMappers.subjects(item),
            })
        },

        users: {
            getter: usersAdminApi.getShortList,
            mapper: item => ({
                value: item.id,
                text: shortEntityTextMappers.users(item),
            })
        },

        tests: {
            getter: testsAdminApi.getShortList,
            mapper: item => ({
                value: item.id,
                text: shortEntityTextMappers.tests(item),
                item
            })
        },

        testGroups: {
            getter: testGroupsAdminApi.getShortList,
            mapper: item => ({
                value: item.id,
                text: shortEntityTextMappers.testGroups(item),
                item
            })
        },
    };


    export default {
        components: {
            Combobox
        },

        props: {
            entityType: String,
            value: {},
            label: String,
            defaultParams: Object,
            disabled: {
                type: Boolean,
                default: false
            },
            filter: {
                type: Boolean,
                default: false,
            },
        },

        data: () => ({
            ENTITY_TYPES
        }),

        computed: {
            itemsGetter() {
                return this.ENTITY_TYPES[this.entityType].getter;
            },
            itemsMapper() {
                return this.ENTITY_TYPES[this.entityType].mapper;
            },
        },

        mounted() {
            if (!this.entityType) throw new Error('Missing wCombobox entityType');
            if (!this.ENTITY_TYPES[this.entityType]) throw new Error('Unknown wCombobox entityType');
        }
    };
</script>
