<template>
    <v-container>
        <v-row>
            <v-col cols="12" sm="12" v-if="checkPermission(ACTIONS.ANY_OWNER_ACCESS) && item.id">
                <w-combobox v-model="item.ownerId"
                            entityType="users"
                            label="Пользователь"
                            disabled />
            </v-col>

            <v-col cols="12" sm="4" md="4">
                <w-combobox v-model="disciplineId"
                            entityType="disciplines"
                            label="Дисциплина"
                            :disabled="disabled" />
            </v-col>

            <v-col cols="12" sm="8" md="8">
                <w-combobox v-model="item.testId"
                            :raw.sync="selectedTest"
                            :default-params="{ disciplineId }"
                            entityType="tests"
                            label="Тест"
                            :disabled="disabled" />
            </v-col>

            <v-col cols="12" sm="12" md="12">
                <w-combobox v-model="item.testGroupId"
                            entityType="testGroups"
                            label="Группа тестирования"
                            :disabled="disabled" />
            </v-col>

            <v-col cols="12" sm="12" md="12">
                <v-text-field v-model="item.name" label="Название" :disabled="disabled" />
            </v-col>

            <v-col cols="12" sm="6" md="6">
                <v-text-field v-model="item.duration"
                              label="Продолжительность (мин.)"
                              type="number"
                              min="1"
                              max="300"
                              :disabled="disabled" />
            </v-col>
        </v-row>
    </v-container>
</template>


<script>

    export default {
        props: [ 'item', 'disabled' ],

        data: () => ({
            disciplineId: null,
            selectedTest: null,
        }),

        watch: {
            selectedTest(value) {
                if (!value) return;
                if (this.item.name) return;

                const test = this.selectedTest.item;
                Object.assign(this.item, { name: test.name });

                if (test.datas.recomendedDuration) Object.assign(this.item, { duration: test.datas.recomendedDuration });
            }
        }
    }
</script>